{% extends 'base.html' %}
{% block content %}

<div class = "container" >
<p align="right"> <button class="alert alert-danger" type="Login" name="login_button">Login</button></p>
</div>

<div class = "container" >
<div class="row">
    <div class="col-sm-3">
      <div class="box">
          
        <h6>Register Company</h6> 
        <!-- action="giveInfo/" -->
        <form class="form-group"  method="post"> 
          {% csrf_token %}
          First Name: <input class="form-control" type="text" name="fname" value=""><br>
          Last Name: <input class="form-control" type="text" name="lname" value=""><br>
          Email: <input class="form-control" type="text" name="email" value=""><br>
          Company: <input class="form-control" type="text" name="company" value=""><br>
          DOB: <input class="form-control" type="text" name="p_dob" value="yyyy-mm-dd"><br>
          <button class="alert alert-danger" type="submit" name="submit_button">Next</button>
          
        </form>
      </div>
    </div>
</div>
</div>

{% endblock %}
